<!DOCTYPE html>
<html xmlns:th = "http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
</head>
<body>

	<header th:fragment="header-order">
		      <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <div class="container-fluid">
          <a class="navbar-brand" href="#">Navbar</a>
          <button
            class="navbar-toggler"
            type="button"
            data-bs-toggle="collapse"
            data-bs-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent"
            aria-expanded="false"
            aria-label="Toggle navigation"
          >
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
              <li class="nav-item">
                <a class="nav-link active" aria-current="page" href="/"
                  >Menu</a
                >
              </li>
              <li class="nav-item dropdown">
		          <a class="nav-link dropdown-toggle" href="#" id="products" role="button" data-bs-toggle="dropdown" aria-expanded="false">
		            Orders
		          </a>
		          <ul class="dropdown-menu" aria-labelledby="products">
		            <li><a class="dropdown-item" href="/order/new">New Order</a></li>
		            <li><a class="dropdown-item" href="/order/all">All Orders</a></li>
		          </ul>
		       </li>
		       <li class="nav-item dropdown">
		          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
		            Orders Details
		          </a>
		          <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
		            <li><a class="dropdown-item" href="/order/orderDetail/new">New Order Details</a></li>
		            <li><a class="dropdown-item" href="/order/orderDetail/all">All Orders Details</a></li>
		          </ul>
		        </li>
            </ul>
             <form th:action="@{/logout}" method="post">
			   <input class="btn btn-danger" type="submit" th:value="${#authentication.getPrincipal().getUsername()}+' - Salir'" />
			</form>
          </div>
        </div>
      </nav>
	</header>
	
</body>
</html>