<!DOCTYPE html>
<html xmlns:th = "http://www.thymeleaf.org">
	<head>
		<meta charset="UTF-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
	    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
	    <link rel="stylesheet" th:href="@{/css/main.css}" />
	    <link
	      href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css"
	      rel="stylesheet"
	      integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x"
	      crossorigin="anonymous"/>
		<title>Products</title>
		
	</head>
	<body class="body">
		<header th:replace="/layout/header-office :: header-office"></header>
		<main class="w-75 m-auto mt-3 mb-3 main text-center row">
	      <h3 class="text-white mb-5 text-decoration-underline">All Products</h3>
	      <div class="cont-form">
	        <div class="table-responsive">
	        	<table class="table table-hover">
				  <thead>
				    <tr class="text-white">
				      <th scope="col">Product Code</th>
				      <th scope="col">Product Name</th>
				      <th scope="col">Product Line code</th>
				      <th scope="col">Product Line image</th>
				      <th scope="col">Product Scale</th>
				      <th scope="col">Product Vendor</th>
				      <th scope="col">Product Description</th>
				      <th scope="col">Quantity InStock</th>
				      <th scope="col">Buy Price</th>
				      <th scope="col">MSRP</th>
				      <th scope="col">Actions</th>
				      
				    </tr>
				  </thead>
				  <tbody>
				    <tr class="text-white" th:each="p: ${products}" >
						<td th:text="${p.productCode}"></td>
						<td th:text="${p.productName}"></td>
						<td th:text="${p.productLine.productline}"></td>
						<td th:text="${p.productLine.image}"></td>
						<td th:text="${p.productScale}"></td>
						<td th:text="${p.productVendor}"></td>
						<td th:text="${p.productDescription}"></td>
						<td th:text="${p.quantityInStock}"></td>
						<td th:text="${p.buyPrice}"></td>
						<td th:text="${p.msrp}"></td>
						<td> 
							<a th:href="@{/product/edit/}+${p.productCode}" class="btn btn-success">Edit</a>
							<a th:href="@{/product/delete/}+${p.productCode}" class="btn btn-danger">Delete</a>
						 </td>
					</tr>
				  </tbody>
				</table>
	        </div>
	     
	      </div>
	    </main>
		
		<script
      	src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.bundle.min.js"
      	integrity="sha384-gtEjrD/SeCtmISkJkNUaaKMoLD0//ElJ19smozuHV6z3Iehds+3Ulb9Bn9Plx0x4"
      	crossorigin="anonymous"
   		></script>
	</body>
</html>