<!DOCTYPE html>
<html xmlns:th = "http://www.thymeleaf.org">
	<head>
		<meta charset="UTF-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
	    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
	    <link rel="stylesheet" th:href="@{/css/main.css}" />
	    <link
	      href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css"
	      rel="stylesheet"
	      integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x"
	      crossorigin="anonymous"/>
		<title>Order Details</title>
	</head>
	<body class="body">
		<header th:replace="/layout/header-order :: header-order"></header>
		
		<main class="w-75 m-auto mt-3 mb-3 main text-center">
      <h3 class="text-white text-decoration-underline">New Order Details</h3> <hr>
      <br>
      <div class="cont-form">
        <h4 class="text-white text-decoration-underline mb-4">Order Details Data</h4>
        <form th:action="@{/orderDetails/save}" th:object="${orderDetail}" method="post" class="row g-3">
          <!-- Select Order -->
          <div class="col-md-6">
            <label  for="orderNumber" class="form-label">Order Number</label>
            <select th:field="*{id.orderNumber}" name="orderNumber" id="orderNumber" class="form-select" >
				<option th:each="o: ${order}" th:value="${o.orderNumber}" ><span th:text="${o.orderNumber}" ></span></option>			  
			</select>
          </div> 
          <!-- Select Product -->
          <div class="col-md-6">
            <label  for="productCode" class="form-label">Product Code</label>
            <select th:field="*{id.productCode}" name="productCode" id="productCode" class="form-select" >
				<option th:each="p: ${product}" th:value="${p.productCode}" ><span th:text="${p.productCode}" ></span></option>			  
			</select>
          </div> 
          <!-- Order Detail -->
          	<div class="col-md-4">
            	<label for="quantityOrdered" class="form-label">Quantity Ordered</label>
            	<input th:field="*{quantityOrdered}" type="date" class="form-control" id="quantityOrdered" />
          	</div>
          	<div class="col-md-4">
            	<label for="princeEach" class="form-label">Prince Each</label>
            	<input th:field="*{princeEach}" type="date" class="form-control" id="princeEach" />
          	</div>
          	<div class="col-md-4">
           		<label for="orderLineNumber" class="form-label">Order Line Number</label>
            	<input th:field="*{orderLineNumber}" type="text" class="form-control" id="orderLineNumber" />
          	</div>
       
          <div class="col-12">
            <button type="submit" class="btn mt-2 btn-primary">
              Save Order Details
            </button>
          </div>
        </form>
      </div>
    </main>
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-gtEjrD/SeCtmISkJkNUaaKMoLD0//ElJ19smozuHV6z3Iehds+3Ulb9Bn9Plx0x4"
      crossorigin="anonymous"
    ></script>
	
	</body>
</html>