<!DOCTYPE html>
<html xmlns:th = "http://www.thymeleaf.org">
	<head>
		<meta charset="UTF-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
	    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
	    <link rel="stylesheet" th:href="@{/css/main.css}" />
	    <link
	      href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css"
	      rel="stylesheet"
	      integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x"
	      crossorigin="anonymous"/>
		<title>Employee</title>
	</head>
	<body class="body">
		<header th:replace="/layout/header-order :: header-order"></header>
		
		<main class="w-75 m-auto mt-3 mb-3 main text-center">
      <h3 class="text-white text-decoration-underline">New Order</h3> <hr>
      <br>
      <div class="cont-form">
        <h4 class="text-white text-decoration-underline mb-4">Order Data</h4>
        <form th:action="@{/order/save}" th:object="${order}" method="post" class="row g-3">
      		<div class="col-md-4">
            	<label for="orderDte" class="form-label">Order Date</label>
            	<input th:field="*{orderDate}" type="date" class="form-control" id="orderDate" />
          	</div>
          	<div class="col-md-4">
            	<label for="requiredDate" class="form-label">Required Date</label>
            	<input th:field="*{requiredDate}" type="date" class="form-control" id="requiredDate" />
          	</div>
          	<div class="col-md-4">
            	<label for="shippedDate" class="form-label">Shipped Date</label>
            	<input th:field="*{shippedDate}" type="date" class="form-control" id="shippedDate" />
          	</div>
          	<div class="col-md-4">
           		<label for="status" class="form-label">Status</label>
            	<input th:field="*{status}" type="text" class="form-control" id="status" />
          	</div>
          	<div class="col-8">
            	<label for="comments" class="form-label">Comments</label>
            	<input th:field="*{comments}"
              	type="text" class="form-control"
              	id="comments"
            />
          </div>
   
          <div class="col-md-5">
            <label  for="customer" class="form-label">Customer</label>
            <select th:field="*{customers.customerNumber}" name="customer" id="customer" class="form-select" >
				<option th:each="c: ${customers}" th:value="${c.customerNumber}" ><span th:text="${c.customerNumber}" ></span></option>
								  
			</select>
          </div>       
          <div class="col-12">
            <button type="submit" class="btn mt-2 btn-primary">
              New Order
            </button>
          </div>
        </form>
      </div>
    </main>
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-gtEjrD/SeCtmISkJkNUaaKMoLD0//ElJ19smozuHV6z3Iehds+3Ulb9Bn9Plx0x4"
      crossorigin="anonymous"
    ></script>
	
	</body>
</html>