<!DOCTYPE html>
<html lang="es " xmlns:th = "http://www.thymeleaf.org">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" th:href="@{/css/main.css}" />
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x"
      crossorigin="anonymous"
    />

    <title>Document</title>
  </head>
  <body class="body">
  <header th:replace="/layout/header-office :: header-office"></header>

    <main class="w-75 m-auto text-white mt-3 mb-3 main text-center row">
      <h3 class="text-white text-decoration-underline mb-5">New Office</h3>
      <div class="cont-form">
        <h4 class="text-white text-decoration-underline mb-4">Office Data</h4>
        <form th:action="@{/office/save}" th:object="${office}" method="post" class="row g-3">
        <div class="col-md-3">
            <label for="officeCode" class="form-label">Office Code</label>
            <input th:field="*{officeCode}" type="text" class="form-control" id="officeCoe" />
            
            <div class=" alert alert-danger" th:if="${#fields.hasErrors('officeCode')}" th:errors="*{officeCode}" ></div>
            
          </div>
          <div class="col-md-3">
            <label for="country" class="form-label">Country</label>
            <input th:field="*{country}" type="text" class="form-control" id="country" />
            <div class=" alert alert-danger" th:if="${#fields.hasErrors('country')}" th:errors="*{country}" ></div>
          </div>
          <div class="col-md-3">
            <label for="territory" class="form-label">Territory</label>
            <input th:field="*{territory}" type="text" class="form-control" id="territory" />
            <div class=" alert alert-danger" th:if="${#fields.hasErrors('territory')}" th:errors="*{territory}" ></div>
          </div>
          <div class="col-md-3">
            <label for="phone" class="form-label">Phone</label>
            <input th:field="*{phone}" type="text" class="form-control" id="phone" />
            <div class=" alert alert-danger" th:if="${#fields.hasErrors('phone')}" th:errors="*{phone}" ></div>
          </div>
          <div class="col-12">
            <label for="addressLine1" class="form-label">Address Line 1</label>
            <input
            th:field="*{addressLine1}"
              type="text"
              class="form-control"
              id="addressLine1"
              placeholder="1234 Main St"
            />
            <div class=" alert alert-danger" th:if="${#fields.hasErrors('addressLine1')}" th:errors="*{addressLine1}" ></div>
          </div>
          <div class="col-12">
            <label for="addressLine2" class="form-label">Address Line 2</label>
            <input
            th:field="*{addressLine2}"
              type="text"
              class="form-control"
              id="addressLine2"
              placeholder="Apartment, studio, or floor"
            />
            <div class=" alert alert-danger" th:if="${#fields.hasErrors('addressLine2')}" th:errors="*{addressLine2}" ></div>
          </div>
          <div class="col-md-6">
            <label for="city" class="form-label">City</label>
            <input th:field="*{city}" type="text" class="form-control" id="city" />
            <div class=" alert alert-danger" th:if="${#fields.hasErrors('city')}" th:errors="*{city}" ></div>
          </div>
          <div class="col-md-4">
            <label for="state" class="form-label">State</label>
          	 <input th:field="*{state}" type="text" class="form-control" id="state" />
          	 <div class=" alert alert-danger" th:if="${#fields.hasErrors('state')}" th:errors="*{state}" ></div>
          </div>
          <div class="col-md-2">
            <label for="postalCode" class="form-label">Postal Code</label>
            <input th:field="*{postalCode}" type="text" class="form-control" id="postalCode" />
            <div class=" alert alert-danger" th:if="${#fields.hasErrors('postalCode')}" th:errors="*{postalCode}" ></div>
          </div>
          <div class="col-12">
            <button type="submit" class="btn mt-2 btn-primary">
              Save Office
            </button>
          </div>
        </form>
      </div>
    </main>
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-gtEjrD/SeCtmISkJkNUaaKMoLD0//ElJ19smozuHV6z3Iehds+3Ulb9Bn9Plx0x4"
      crossorigin="anonymous"
    ></script>
  </body>
</html>
